	<div id="header">
	<h1 id="logo"><a href="http://www.informatik.com/themeforest/openhouse2"><cufon style="width: 88px; height: 30px;" alt="Open " class="cufon cufon-canvas"><canvas style="width: 112px; height: 34px; top: -4px; left: -2px;" height="34" width="112"></canvas><cufontext>Open </cufontext></cufon><cufon style="width: 92px; height: 30px;" alt="House" class="cufon cufon-canvas"><canvas style="width: 108px; height: 34px; top: -4px; left: -2px;" height="34" width="108"></canvas><cufontext>House</cufontext></cufon></a></h1>
	
		
	<div id="slide-panel"><!--SLIDE PANEL STARTS-->
		
	<div class="loginform">
	<h2><cufon style="width: 57px; height: 18px;" alt="Login" class="cufon cufon-canvas"><canvas style="width: 63px; height: 20px; top: -3px; left: -1px;" height="20" width="63"></canvas><cufontext>Login</cufontext></cufon></h2>
	<div class="formdetails">
	<form action="http://www.informatik.com/themeforest/openhouse2/wp-login.php" method="post">
	<fieldset><label for="log">Username : </label><input name="log" id="log" size="20" type="text">&nbsp;&nbsp;&nbsp;&nbsp;
	<label for="pwd">Password : </label><input name="pwd" id="pwd" size="20" type="password">
	<input name="submit" value="Login" class="button" type="submit">
	<label for="rememberme"><input name="rememberme" id="rememberme" checked="checked" value="forever" type="checkbox"> Remember me</label><input name="redirect_to" value="/themeforest/openhouse2/" type="hidden">
	</fieldset>
	</form>
	</div>
	<div class="loginregister">
	<a href="http://www.informatik.com/themeforest/openhouse2/wp-register.php">Register</a> |
	<a href="http://www.informatik.com/themeforest/openhouse2/wp-login.php?action=lostpassword">Recover password</a>
	</div>
	
	</div><!--loginform ends-->
	
		</div><!--SLIDE PANEL ENDS-->
	<div class="loginslide"><a href="#" class="btn-slide">Login</a></div><!--LOGIN BUTTON TEXT-->
	
	
	<div id="logo2"></div>
					<p id="description">Premium Real Estate Wordpress Theme</p>
		 
		
		<div id="basicsearch">
        <form method="get" id="searchform" action="http://www.informatik.com/themeforest/openhouse2/">
			<fieldset>
                <input class="lightsearchboxtext" value="Search news" name="s" id="s" type="text">
                <input src="/images/mag.jpg" id="go" alt="Search" title="Search" type="image">
			</fieldset>
        </form>
</div>		
		
						
		
					<span id="phone"><cufon style="width: 177px; height: 25px;" alt="1.800.123.4567" class="cufon cufon-canvas"><canvas style="width: 190px; height: 28px; top: -4px; left: -1px;" height="28" width="190"></canvas><cufontext>1.800.123.4567</cufontext></cufon></span>
				

<div class="menu-main-container"><ul id="menu-main" class="sf-menu sf-js-enabled sf-shadow"><li id="home"><a href="http://www.informatik.com/themeforest/openhouse2" title="Home">Home</a></li><li class="" id="browseby"><a class="sf-with-ul" href="#">Browse By...<span class="sf-sub-indicator"> »</span></a>
			<ul style="float: none; width: 12em; display: none; visibility: hidden;">
									<li style="white-space: normal; float: left; width: 100%;"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/?alllistings=true&amp;page_id=53">All Listings</a></li>
								
									<li class="" style="white-space: normal; float: left; width: 100%;"><a class="sf-with-ul" style="float: none; width: auto;" href="#">Features<span class="sf-sub-indicator"> »</span></a><ul style="left: 12em; float: none; width: 12em; display: none; visibility: hidden;" class="wp-tag-cloud">
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/attic/" class="tag-link-52" title="4 topics" style="font-size: 13.6pt; float: none; width: auto;">Attic</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/basketball-court/" class="tag-link-49" title="3 topics" style="font-size: 8pt; float: none; width: auto;">Basketball Court</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/fireplace/" class="tag-link-47" title="4 topics" style="font-size: 13.6pt; float: none; width: auto;">Fireplace</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/gas-heat/" class="tag-link-50" title="4 topics" style="font-size: 13.6pt; float: none; width: auto;">Gas Heat</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/gym/" class="tag-link-48" title="3 topics" style="font-size: 8pt; float: none; width: auto;">Gym</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/lake-view/" class="tag-link-55" title="5 topics" style="font-size: 18.08pt; float: none; width: auto;">Lake view</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/ocean-view/" class="tag-link-54" title="6 topics" style="font-size: 22pt; float: none; width: auto;">Ocean view</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/pond/" class="tag-link-53" title="3 topics" style="font-size: 8pt; float: none; width: auto;">Pond</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/pool/" class="tag-link-46" title="4 topics" style="font-size: 13.6pt; float: none; width: auto;">Pool</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_features/wine-cellar/" class="tag-link-51" title="5 topics" style="font-size: 18.08pt; float: none; width: auto;">Wine cellar</a></li>
</ul>
</li>
								
									<li class="" style="white-space: normal; float: left; width: 100%;"><a class="sf-with-ul" style="float: none; width: auto;" href="#">Property Type<span class="sf-sub-indicator"> »</span></a><ul style="left: 12em; float: none; width: 13em; display: none; visibility: hidden;" class="wp-tag-cloud">
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_type/apartment/" class="tag-link-23" title="2 topics" style="font-size: 8pt; float: none; width: auto;">Apartment</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_type/single-family-homes/" class="tag-link-21" title="2 topics" style="font-size: 8pt; float: none; width: auto;">Single Family Homes</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_type/townhouses/" class="tag-link-20" title="3 topics" style="font-size: 22pt; float: none; width: auto;">Townhouses</a></li>
</ul>
</li>
								
									<li style="white-space: normal; float: left; width: 100%;"><a class="sf-with-ul" style="float: none; width: auto;" href="#">Location<span class="sf-sub-indicator"> »</span></a><ul style="left: 12em; float: none; width: 12em; display: none; visibility: hidden;" class="wp-tag-cloud">
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_location/florida/" class="tag-link-33" title="1 topic" style="font-size: 8pt; float: none; width: auto;">Florida</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_location/new-mexico/" class="tag-link-34" title="1 topic" style="font-size: 8pt; float: none; width: auto;">New Mexico</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_location/pennsylvania/" class="tag-link-30" title="5 topics" style="font-size: 22pt; float: none; width: auto;">Pennsylvania</a></li>
</ul>
</li>
								
									<li class="" style="white-space: normal; float: left; width: 100%;"><a class="sf-with-ul" style="float: none; width: auto;" href="#">Price Range<span class="sf-sub-indicator"> »</span></a><ul style="left: 12em; float: none; width: 16.3846em; display: none; visibility: hidden;" class="wp-tag-cloud">
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_pricerange/300000-400000/" class="tag-link-26" title="3 topics" style="font-size: 22pt; float: none; width: auto;">$300,000 - 400,000</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_pricerange/500000-1000000/" class="tag-link-28" title="3 topics" style="font-size: 22pt; float: none; width: auto;">$500,000 - $1,000,000</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_pricerange/greater-than-1000000/" class="tag-link-29" title="1 topic" style="font-size: 8pt; float: none; width: auto;">Greater than $1,000,000</a></li>
</ul>
</li> 
								
									<li class="" style="white-space: normal; float: left; width: 100%;"><a class="sf-with-ul" style="float: none; width: auto;" href="#">Rent or Buy<span class="sf-sub-indicator"> »</span></a><ul style="left: 12em; float: none; width: 12em; display: none; visibility: hidden;" class="wp-tag-cloud">
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_buyorrent/buy/" class="tag-link-36" title="6 topics" style="font-size: 22pt; float: none; width: auto;">Buy</a></li>
	<li style="white-space: normal; float: left; width: 100%;"><a href="http://www.informatik.com/themeforest/openhouse2/property_buyorrent/rent/" class="tag-link-37" title="1 topic" style="font-size: 8pt; float: none; width: auto;">Rent</a></li>
</ul>
</li>
								
			
			</ul>
			
			</li><li id="menu-item-1006" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1006"><a href="http://www.informatik.com/themeforest/openhouse2/our-agents/">Our Agents</a></li>
<li id="menu-item-47" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-47"><a class="sf-with-ul" href="http://www.informatik.com/themeforest/openhouse2/category/news/">News<span class="sf-sub-indicator"> »</span></a>
<ul style="float: none; width: 12em; display: none; visibility: hidden;" class="sub-menu">
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-434" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-434"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/category/news/news-subcategory-1/">Sub Category 1</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-435" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-435"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/category/news/news-subcategory-2/">Sub Category 2</a></li>
</ul>
</li>
<li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-254"><a class="sf-with-ul" href="http://www.informatik.com/themeforest/openhouse2/documentation/">Documentation<span class="sf-sub-indicator"> »</span></a>
<ul style="float: none; width: 22.3846em; display: none; visibility: hidden;" class="sub-menu">
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/getting-started/">Getting Started (Read me First)</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-420"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/theme-options/">Theme Options</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/multilingual-translatable-version/">Multilingual (translatable) version</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/creating-your-first-listing/">Creating your first post</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/setting-up-the-search-box/">Setting up the Search Box</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/setting-up-the-contact-us-page/">Setting up the Contact Us page</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-1110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1110"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/1108-2/">Setting up the Footer (widgetized areas)</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-804" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-804"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/creating-agents/">Creating Agents</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-534"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/all-properties-link-in-menu/">‘All Properties’ link in menu</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/browse-by/">Browse By…</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1023"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/customizing-text/">Customizing text</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/customizing-the-slideshow/">Customizing the Slideshow</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-913"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/changing-the-header-image/">Changing the Header image</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/changing-color-skin/">Changing color skin</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-917"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/customizing-the-theme/">Customizing the theme</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/modifying-the-css/">Modifying the CSS</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/custom-shortcodes/">Custom Shortcodes</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/multi-column-layout/">Multi-column Layout</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/columns-with-sidebar/">Columns with sidebar</a></li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a class="sf-with-ul" style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/page-templates/">Page Templates<span class="sf-sub-indicator"> »</span></a>
	<ul style="left: 22.3846em; float: none; width: 17.6923em; display: none; visibility: hidden;" class="sub-menu">
		<li style="white-space: normal; float: left; width: 100%;" id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/contact-us/">Contact Us</a></li>
		<li style="white-space: normal; float: left; width: 100%;" id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/page-templates/full-width-page/">full width page (with columns)</a></li>
		<li style="white-space: normal; float: left; width: 100%;" id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/page-templates/no-right-sidebar/">Left sidebar</a></li>
		<li style="white-space: normal; float: left; width: 100%;" id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-416"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/page-templates/page-with-2-sidebars/">Page with 2 sidebars</a></li>
		<li style="white-space: normal; float: left; width: 100%;" id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/page-templates/no-left-sidebar/">Right Sidebar</a></li>
		<li style="white-space: normal; float: left; width: 100%;" id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/page-templates/site-map/">Site Map</a></li>
	</ul>
</li>
	<li style="white-space: normal; float: left; width: 100%;" id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"><a style="float: none; width: auto;" href="http://www.informatik.com/themeforest/openhouse2/documentation/file-structure/">File Structure</a></li>
</ul>
</li>
<li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="http://www.informatik.com/themeforest/openhouse2/contact-us/">Contact Us</a></li>
</ul></div>
	</div><!-- end header -->
