<div id="slider">
  <div class="images"> 
    <div  class="slide"><!-- slide --> 
      <div class="slidertext">
			  <div class="slidertext_inner">
				  <h2 class="citystatezip">
				    <cufon style="width: 111px; height: 29px;" alt="Lyndell, " class="cufon cufon-canvas">
				      <canvas style="width: 134px; height: 32px; top: -4px; left: -2px;" height="32" width="134"></canvas>
				      <cufontext>Lyndell, </cufontext>
				    </cufon>
				    <cufon style="width: 36px; height: 29px;" alt="PA" class="cufon cufon-canvas">
				      <canvas style="width: 48px; height: 32px; top: -4px; left: -2px;" height="32" width="48">			        
				      </canvas>
				      <cufontext>PA</cufontext>
				    </cufon>
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 2 • Bathrooms: 3</li>
					  <li class="price">	$400/month</li>
				  </ul>

                
				  <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/233-ferndale-lane-downingtown-pa-usa/">
				    <cufon style="width: 36px; height: 13px;" alt="Read " class="cufon cufon-canvas">
				      <canvas style="width: 46px; height: 15px; top: -2px; left: -1px;" height="15" width="46">
				      </canvas>
				      <cufontext>Read </cufontext>
				    </cufon>
				    <cufon style="width: 37px; height: 13px;" alt="More " class="cufon cufon-canvas">
				      <canvas style="width: 47px; height: 15px; top: -2px; left: -1px;" height="15" width="47">
				      </canvas>
				      <cufontext>More </cufontext>
				      </cufon>
				    <cufon style="width: 16px; height: 13px;" alt="&gt;&gt;" class="cufon cufon-canvas">
				      <canvas style="width: 22px; height: 15px; top: -2px; left: -1px;" height="15" width="22">
				      </canvas>
				      <cufontext>&gt;&gt;</cufontext>
				    </cufon>
				  </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
		  
		  <div class="sliderimage">
			  <div class="banner-large reduced"></div>
				<img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
				<img alt="Image for 115 Grandview Rd" src="/javascripts/timthumb_007.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->

    <div style="position: absolute; top: 0px; left: 0px; display: block; z-index: 6; opacity: 1; width: 720px; height: 272px;" class="slide">
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
			
				  <h2 class="citystatezip">
				    <cufon style="width: 207px; height: 29px;" alt="Downingtown, " class="cufon cufon-canvas">
				      <canvas style="width: 231px; height: 32px; top: -4px; left: -2px;" height="32" width="231">  
				      </canvas>
				      <cufontext>Downingtown, </cufontext>
				    </cufon>
				    <cufon style="width: 36px; height: 29px;" alt="PA" class="cufon cufon-canvas">
				      <canvas style="width: 48px; height: 32px; top: -4px; left: -2px;" height="32" width="48">
				      </canvas>
				      <cufontext>PA</cufontext>
				    </cufon>
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 3 • Bathrooms: 3.5</li>
						<li class="price">	$1,500,000</li>
				  </ul>

				  <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/10-somewhere-street/">
				    <cufon style="width: 36px; height: 13px;" alt="Read " class="cufon cufon-canvas">
				      <canvas style="width: 46px; height: 15px; top: -2px; left: -1px;" height="15" width="46">
				      </canvas>
				      <cufontext>Read </cufontext>
				      </cufon>
				    <cufon style="width: 37px; height: 13px;" alt="More " class="cufon cufon-canvas">
				      <canvas style="width: 47px; height: 15px; top: -2px; left: -1px;" height="15" width="47">
				      </canvas>
				      <cufontext>More </cufontext>
				    </cufon>
				    <cufon style="width: 16px; height: 13px;" alt="&gt;&gt;" class="cufon cufon-canvas">
				      <canvas style="width: 22px; height: 15px; top: -2px; left: -1px;" height="15" width="22">
				      </canvas>
				      <cufontext>&gt;&gt;</cufontext>
				    </cufon>
				  </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
		
			<div class="sliderimage">
				<img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
				<img alt="Image for 119 Aspen Drive" src="/javascripts/timthumb_003.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->

    <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 720px; height: 272px;" class="slide"><!-- slide --> 
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
				  <h2 class="citystatezip">
				    <cufon style="width: 92px; height: 29px;" alt="Exton, " class="cufon cufon-canvas">
				      <canvas style="width: 116px; height: 32px; top: -4px; left: -2px;" height="32" width="116">
				      </canvas>
				      <cufontext>Exton, </cufontext>
				    </cufon>
				    <cufon style="width: 36px; height: 29px;" alt="PA" class="cufon cufon-canvas">
				      <canvas style="width: 48px; height: 32px; top: -4px; left: -2px;" height="32" width="48">
				      </canvas>
				      <cufontext>PA</cufontext>
				    </cufon>
				  </h2>
				  
				  <ul>
				    <li class="bedsbaths">Bedrooms: 3 • Bathrooms: 3</li>
						<li class="price">	$325,000</li>
				  </ul>
          <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/445-themeforest-way/">
            <cufon style="width: 36px; height: 13px;" alt="Read " class="cufon cufon-canvas">
              <canvas style="width: 46px; height: 15px; top: -2px; left: -1px;" height="15" width="46">
              </canvas>
              <cufontext>Read </cufontext>
            </cufon>
            <cufon style="width: 37px; height: 13px;" alt="More " class="cufon cufon-canvas">
              <canvas style="width: 47px; height: 15px; top: -2px; left: -1px;" height="15" width="47">
              </canvas>
              <cufontext>More </cufontext>
            </cufon>
            <cufon style="width: 16px; height: 13px;" alt="&gt;&gt;" class="cufon cufon-canvas">
              <canvas style="width: 22px; height: 15px; top: -2px; left: -1px;" height="15" width="22">
              </canvas>
              <cufontext>&gt;&gt;</cufontext>
            </cufon>
          </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
				
		  <div class="sliderimage">
				<div class="banner-large sold"></div>
				<img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
			  <img alt="Image for 154 E Lincoln Hwy" src="/javascripts/timthumb_006.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->

    <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 720px; height: 272px;" class="slide"><!-- slide --> 
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
				  <h2 class="citystatezip">
				    <cufon style="width: 173px; height: 29px;" alt="Gilbertsville, " class="cufon cufon-canvas">
				      <canvas style="width: 196px; height: 32px; top: -4px; left: -2px;" height="32" width="196">
				      </canvas>
				      <cufontext>Gilbertsville, </cufontext>
				    </cufon>
				    <cufon style="width: 33px; height: 29px;" alt="pa" class="cufon cufon-canvas">
				      <canvas style="width: 49px; height: 32px; top: -4px; left: -2px;" height="32" width="49">				      
				      </canvas>
				      <cufontext>pa</cufontext>
				    </cufon>
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 2 • Bathrooms: 2</li>
						<li class="price">	$350,000</li>
				  </ul>

          <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/455-main-street/">
            <cufon style="width: 36px; height: 13px;" alt="Read " class="cufon cufon-canvas">
              <canvas style="width: 46px; height: 15px; top: -2px; left: -1px;" height="15" width="46">                
              </canvas>
              <cufontext>Read </cufontext>
            </cufon>
            <cufon style="width: 37px; height: 13px;" alt="More " class="cufon cufon-canvas">
              <canvas style="width: 47px; height: 15px; top: -2px; left: -1px;" height="15" width="47">                
              </canvas>
              <cufontext>More </cufontext>
            </cufon>
            <cufon style="width: 16px; height: 13px;" alt="&gt;&gt;" class="cufon cufon-canvas">
              <canvas style="width: 22px; height: 15px; top: -2px; left: -1px;" height="15" width="22">                
              </canvas>
              <cufontext>&gt;&gt;</cufontext>
            </cufon>
          </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
				
		  <div class="sliderimage">
			  <div class="openhousebanner">
			    <div class="openhousedatetime">December 12, 2012, 2-4pm</div>
			  </div>	
		    <img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
						
			  <img alt="Image for 10 Michelle Circle" src="/javascripts/timthumb_005.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->






    <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 720px; height: 272px;" class="slide"><!-- slide --> 
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
			
				  <h2 class="citystatezip">
				    <cufon style="width: 207px; height: 29px;" alt="Downingtown, " class="cufon cufon-canvas">
				      <canvas style="width: 231px; height: 32px; top: -4px; left: -2px;" height="32" width="231">				        
				      </canvas>
				      <cufontext>Downingtown, </cufontext>
				    </cufon>
				    <cufon style="width: 36px; height: 29px;" alt="PA" class="cufon cufon-canvas">
				      <canvas style="width: 48px; height: 32px; top: -4px; left: -2px;" height="32" width="48">				        
				      </canvas>
				      <cufontext>PA</cufontext>
				    </cufon>
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 3 • Bathrooms: 4</li>
						<li class="price">	$500,000</li>
				  </ul>

          <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/68-envato-road/">
            <cufon style="width: 36px; height: 13px;" alt="Read " class="cufon cufon-canvas">
              <canvas style="width: 46px; height: 15px; top: -2px; left: -1px;" height="15" width="46">                
              </canvas>
              <cufontext>Read </cufontext>
            </cufon>
            <cufon style="width: 37px; height: 13px;" alt="More " class="cufon cufon-canvas">
              <canvas style="width: 47px; height: 15px; top: -2px; left: -1px;" height="15" width="47">                
              </canvas>
              <cufontext>More </cufontext>
            </cufon>
            <cufon style="width: 16px; height: 13px;" alt="&gt;&gt;" class="cufon cufon-canvas">
              <canvas style="width: 22px; height: 15px; top: -2px; left: -1px;" height="15" width="22">
              </canvas>
              <cufontext>&gt;&gt;</cufontext>
            </cufon>
          </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
			
			<div class="sliderimage">
			  <div class="banner-large sold"></div>
				<div class="openhousebanner">
				  <div class="openhousedatetime">March 10, 2012, 3-5pm</div>
				</div>	
		    <img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
						
			  <img alt="Image for 50 Colleen Circle" src="/javascripts/timthumb.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->
  </div>
  <div class="slidernav">
    <a class="" href="#">1</a>
    <a class="activeSlide" href="#">2</a>
    <a class="" href="#">3</a>
    <a class="" href="#">4</a>
    <a class="" href="#">5</a>
  </div><!-- end images -->
</div><!-- end slider -->