<div id="slider">
  <div class="images"> 
    <div  class="slide"><!-- slide --> 
      <div class="slidertext">
			  <div class="slidertext_inner">
				  <h2 class="citystatezip">
				    Lyndell, PA
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 2 • Bathrooms: 3</li>
					  <li class="price">	$400/month</li>
				  </ul>

                
				  <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/233-ferndale-lane-downingtown-pa-usa/">
				                Read More &gt;&gt;
				  </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
		  
		  <div class="sliderimage">
			  <div class="banner-large reduced"></div>
				<img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
				<img alt="Image for 115 Grandview Rd" src="/javascripts/timthumb_007.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->

    <div style="position: absolute; top: 0px; left: 0px; display: block; z-index: 6; opacity: 1; width: 720px; height: 272px;" class="slide">
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
			
				  <h2 class="citystatezip">
				    Downingtown, PA 
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 3 • Bathrooms: 3.5</li>
						<li class="price">	$1,500,000</li>
				  </ul>

				  <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/10-somewhere-street/">
				    Read More &gt;&gt;
				  </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
		
			<div class="sliderimage">
				<img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
				<img alt="Image for 119 Aspen Drive" src="/javascripts/timthumb_003.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->

    <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 720px; height: 272px;" class="slide"><!-- slide --> 
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
				  <h2 class="citystatezip">
				    Exton,PA
				  </h2>
				  
				  <ul>
				    <li class="bedsbaths">Bedrooms: 3 • Bathrooms: 3</li>
						<li class="price">	$325,000</li>
				  </ul>
          <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/445-themeforest-way/">
            Read More &gt;&gt;
          </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
				
		  <div class="sliderimage">
				<div class="banner-large sold"></div>
				<img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
			  <img alt="Image for 154 E Lincoln Hwy" src="/javascripts/timthumb_006.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->

    <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 720px; height: 272px;" class="slide"><!-- slide --> 
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
				  <h2 class="citystatezip">
				    Gilbertsville, PA
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 2 • Bathrooms: 2</li>
						<li class="price">	$350,000</li>
				  </ul>

          <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/455-main-street/">
            Read More &gt;&gt;
          </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
				
		  <div class="sliderimage">
			  <div class="openhousebanner">
			    <div class="openhousedatetime">December 12, 2012, 2-4pm</div>
			  </div>	
		    <img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
						
			  <img alt="Image for 10 Michelle Circle" src="/javascripts/timthumb_005.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->






    <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 720px; height: 272px;" class="slide"><!-- slide --> 
      <div class="slidertext" style="">
			  <div class="slidertext_inner">
				  <h2 class="citystatezip">
				    Downingtown, PA
				  </h2>
				
				  <ul>
				    <li class="bedsbaths">Bedrooms: 3 • Bathrooms: 4</li>
						<li class="price">	$500,000</li>
				  </ul>

          <a class="button" href="http://www.informatik.com/themeforest/openhouse2/listing/68-envato-road/">
            Read More &gt;&gt;
          </a>
			  </div><!-- end inner -->
		  </div><!-- end slidertext -->
			
			<div class="sliderimage">
			  <div class="banner-large sold"></div>
				<div class="openhousebanner">
				  <div class="openhousedatetime">March 10, 2012, 3-5pm</div>
				</div>	
		    <img alt="" class="sliderborder" src="/javascripts/sliderborder.png">
				<div class="faderight"></div>
						
			  <img alt="Image for 50 Colleen Circle" src="/javascripts/timthumb.jpg" height="270" width="460">
		  </div><!-- end sliderimage -->	
    </div> <!-- end slide -->
  </div>
  <div class="slidernav">
    <!-- <a class="" href="#">1</a>
        <a class="activeSlide" href="#">2</a>
        <a class="" href="#">3</a>
        <a class="" href="#">4</a>
        <a class="" href="#">5</a> -->
  </div><!-- end images -->
</div><!-- end slider -->