<!DOCTYPE html>
<html>
<head>
  <title>Pondok Raya</title>
  <%#= stylesheet_link_tag    :all %>
  <%#= javascript_include_tag :all %>
  
  <%= render :partial => "layouts/stylesheets_javascripts"%>
  
  
  <%= csrf_meta_tags %>
</head>
<body id="ishome" class="home blog layout-2cr">

<%#= yield %>
<%= render :partial => "layouts/body_content"%>

</body>
</html>
